@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

:root {
  --primary: #3858d6;
  --text: #6d7b93;
  --title: #1f3e72;
  --font: "Inter", sans-serif;
}

body {
  border: 1px solid red;
  font-family: var(--font);
}
