nav {
  display: flex;
  align-items: center;
  gap: 62px;
}
.nav__container {
  display: flex;
  gap: 40px;
  font-size: 0.9rem;
  font-weight: bold;
}

.nav__link {
  color: var(--text);
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;

  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav__link:hover {
  color: var(--primary);
}

.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
